# Copy this file to .env and update the values for your environment.
MONGO_URI=mongodb+srv://marzanjoshua77_db_user:7yFXPtEjXslzZMVd@cluster0.kgzkmkl.mongodb.net/marzan?retryWrites=true&w=majority
PORT=8000
JWT_SECRET=sampleSecret
NODE_ENV=development
